<a href="https://colab.research.google.com/github/StuntStorm/Amrita-/blob/main/PSAT_LAB_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print the multiplication Table of the given Number

In [ ]:

n=int(input("Enter Value : "))
for i in range(1,11):
  print(n*i)

Enter Value : 2
2
4
6
8
10
12
14
16
18
20

Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

list1 = [12,15,32,42,55,75,122,132,150,180,200]

In [ ]:
list1 = [12,15,32,42,55,75,122,132,150,180,200]
for i in list1:
    if i%5==0 and i<=150:
      print(i)
    else:
      continue

15
55
75
150

Display done when successfull.

In [ ]:
for i in range(5):
  print(i)
print("Done")

0
1
2
3
4
Done

Display the Fibonacci Series upto 10

In [ ]:
n = 10
fb = [0,1]

if N>2:
	for i in range(2, n):
		e = fb[i-1] + fb[i-2]
		fb.append(e)
print(fb)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Use Loop to display the element from a given list at even position

list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in list[::-2]:
    
    print(i)

100
80
60
40
20

Display the cube of the given integer

In [ ]:
sum = 0
n=int(input("input_number : "))
for i in range(1,n+1):
  sum=i**3
  print("Current Number is :",i,"and the cube is",sum)

input_number : 6
Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216

Find the Sum of 2 + 22 + 222 + 2222 + 22222 + ..n terms

In [ ]:
n= int(input("number_of_terms : "))
sum=0
for i in range (1,n+1):
    e=eval('2'*i)
    sum+=e
print(sum)

number_of_terms : 10
2469135800

Display -10 to -1 using loop

In [ ]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Python program to display all the prime numbers within a range

In [ ]:
x = int(input("start = "))
y = int(input("end = "))

print("Prime numbers between",x,"and",y,"are : ")
for n in range(x, y + 1):
   if n > 1:
       for i in range(2, n):
           if (n%i) == 0:
               break
       else:
           print(n)

start = 25
end = 50
Prime numbers between 25 and 50 are :
29
31
37
41
43
47

Reverse a given integer number

In [ ]:
n = int(input())
print(str(n)[::-1])

76542
24567