<a href="https://colab.research.google.com/github/StuntStorm/Amrita-/blob/main/PSAT_Programs_(pt_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to For Loop

In [1]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [2]:
for i in range(5,8):
  print(i,i**2)

5 25
6 36
7 49

Decreasing Sequences

In [3]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

In [5]:
for i in range(3,7):
  print("hello,world")

hello,world
hello,world
hello,world
hello,world

In [6]:
for i in range(10,3,-1):
  print(i)

10
9
8
7
6
5
4

To print even number

In [23]:
n = 2
for i in range(1,11):
  p = n*i
  print(p)

2
4
6
8
10
12
14
16
18
20

To print odd number

In [22]:
n = 1
for i in range(1,11,2):
  p = n*i
  print(p)

1
3
5
7
9

Sum of the Integers from 1 to n

In [12]:
sum = 0
n=5
for i in range(1,n+1):
  sum+=i
  print(sum)

1
3
6
10
15

Print the sum of Integers from 1 to 10

In [17]:
sum = 0
for i in range(1,11):
  sum+=i
  print(sum)

1
3
6
10
15
21
28
36
45
55